<%- include('../components/newFolderDialog', {currentUser, parentId}) %>

<% 
const relativeDirectory = directories.map(
    (value) => value.id).reverse().join("/")
%>

<%- include('../components/uploadFileDialog', {relativeDirectory, currentUser, parentId}) %>

<%- include('../components/fileInfoDialog') %>

<%- include('../components/renameFileDialog') %>

<div class="subheader-container">
    <div>
        <div class="breadcrumbs">
            <a href="/cloud" class="directory">Home</a>
            <%  if ( directories.length != 0 ) { %> 
            <%  directories.reverse().forEach((value, index) => { %>
                <span>></span>
                <a href='/cloud/<%= value.id %>' class="directory"><%= value.name %></a>
            <% })
            } %>
        </div>
        <div class="button-group">
            <button id="new-folder-button">New Folder</button>
            <button id="upload-file-button">Upload File</button>
        </div>
    </div>
</div>

<div class="container files-container">
    <% if (folders) { %>
        <% folders.forEach(value => { %>
                <div class="cell" onclick="location.href='/cloud/<%= value.id %>'">
                    <img src="/assets/folder.svg" class="svg-icon" alt="Folder"><%= value.name %>
                </div>
        <% }); %>
    <% } %>    
    <% if (files) { %>
        <% files.forEach(value => { %>
                <div class="cell" 
                onclick="displayfileInfo({ id: '<%= value.id %>',
                                           name: '<%= value.name %>', 
                                           size: '<%= value.size %>'})">
                    <img src="/assets/file.svg" class="svg-icon" alt="File"><%= value.name %>
                </div>
        <% }); %>
    <% } %>   
</div>

<script src="/js/cloudScripts.js"></script>
<script>
    function displayfileInfo(file) {
        fileInfoDialog.showModal();
        
        const title = document.querySelector("#file-info-dialog .file-title");
        title.textContent = file.name;

        const size = document.querySelector("#file-info-dialog .file-size");
        size.textContent = file.size;

        const renameButton = document.querySelector("#rename-file-button")
        renameButton.addEventListener("click", () => {
            fileInfoDialog.close();
            renameFile(file);
        })

        const downloadButton = document.querySelector("#download-file-button")
        downloadButton.addEventListener("click", () => {
            location.href = `/download/${file.id}`
            // console.log('<%= parentId || 0 %>')
            // console.log('<%= relativeDirectory || 0 %>')
            // console.log(file.id)
            // location.href = `/download/${file.id}`
        })
    }

    function renameFile(file) {
        renameFileDialog.showModal();

        const fileName = document.querySelector("#rename-file-dialog .file-name")
        fileName.textContent = file.name

        const filenameInput = document.querySelector("#rename-file-dialog #new-name-file")
        filenameInput.setAttribute("value", file.name)

        const form = document.querySelector("#rename-file-dialog form") 
        form.action = `/cloud/<%= parentId || 0 %>/rename/${file.id}`
    }

</script>