
<%- include('../components/newFolderDialog', {currentUser, parentId}) %>

<%- include('../components/uploadFileDialog', {directories, currentUser, parentId}) %>

<div class="subheader-container">
    <div>
        <div class="breadcrumbs">
            <a href="/cloud" class="directory">Home</a>
            <%  if ( directories.length != 0 ) { %> 
            <%  directories.reverse().forEach((value, index) => { %>
                <span>></span>
                <a href='/cloud/<%= value.id %>' class="directory"><%= value.name %></a>
            <% })
            } %>
        </div>
        <div class="button-group">
            <button id="new-folder-button">New Folder</button>
            <button id="upload-file-button">Upload File</button>
        </div>
    </div>
</div>

<div class="container files-container">
    <% if (folders) { %>
        <% folders.forEach(value => { %>
                <div class="cell" onclick="location.href='/cloud/<%= value.id %>'">
                    <img src="/assets/folder.svg" class="svg-icon" alt="Folder"><%= value.name %>
                </div>
        <% }); %>
    <% } %>    
    <% if (files) { %>
        <% files.forEach(value => { %>
                <div class="cell"><img src="/assets/file.svg" class="svg-icon" alt="File"><%= value.name %></div>
        <% }); %>
    <% } %>   
</div>

<script type="module" src="/js/cloudScripts.js" defer></script>