<% 
    const relativeDirectory = directories.map(
        (value) => value.id).reverse().join("/")
%>

<dialog id="new-folder-dialog">
    <form action="/cloud/new-folder" method="post">
        <input type="hidden" name="userId" value="<%= currentUser.id %>">
        <input type="hidden" name="parentId" value="<%= parentId %>">
        <label for="new-folder">Name The New Folder</label>
        <input type="text" name="newFolder" id="new-folder">
        <div class="button-group">
            <button type="submit">Submit</button>
        </div>
    </form>
    <button id="new-folder-close-button" class="close-dialog">X</button>
</dialog>

<dialog id="upload-file-dialog">
    <form action="/cloud/upload-file" method="post" enctype="multipart/form-data">
        <input type="hidden" name="userId" value="<%= currentUser.id %>">
        <input type="hidden" name="relativeDirectory" value="<%= relativeDirectory %>">
        <input type="hidden" name="parentId" value="<%= parentId %>">
        <label for="upload-file">Upload The File</label>
        <input type="file" name="uploadFile" id="upload-file">
        <div class="button-group">
            <button type="submit">Submit</button>
        </div>
    </form>
    <button id="upload-file-close-button" class="close-dialog">X</button>
</dialog>

<div class="subheader-container">
    <div>
        <div class="breadcrumbs">
            <a href="/cloud" class="directory">Home</a>
            <%  if ( directories.length != 0 ) { %> 
            <%  directories.reverse().forEach((value, index) => { %>
                <span>></span>
                <a href='/cloud/<%= value.id %>' class="directory"><%= value.name %></a>
            <% })
            } %>
        </div>
        <div class="button-group">
            <button id="new-folder-button">New Folder</button>
            <button id="upload-file-button">Upload File</button>
        </div>
    </div>
</div>

<div class="container files-container">
    <% if (folders) { %>
        <% folders.forEach(value => { %>
                <div class="cell" onclick="location.href='/cloud/<%= value.id %>'">
                    <div class="image">Folder</div><%= value.name %>
                </div>
        <% }); %>
    <% } %>    
    <% if (files) { %>
        <% files.forEach(value => { %>
                <div class="cell"><div class="image">Files</div><%= value.name %></div>
        <% }); %>
    <% } %>   
</div>

<script type="module" src="/js/scripts.js" defer></script>